<%- include("../common/header.ejs") -%>
    <div class="box" id="heading">
        <h2>
            Single File Upload
        </h2>
    </div>
    <div class="box">
        <div class="item">
            <form method="post" action="/nstorage/upload/single" enctype="multipart/form-data">
                <input type="file" name="single"/>
                <button type="submit">업로드</button>
            </form>
        </div>
    </div>
    <%- include("../common/footer.ejs") -%>